@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Inter',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.css-yfo96e {
    padding: 9px 0 0 0 !important;
}

.css-h4y409-MuiList-root {
    padding-top: 0px !important;
}

label {
  font-weight: bold;
}

.fancy {
font-family: "verdigris-mvb-pro-big", serif;
font-weight: 700;
font-style: normal;
}

.section {
  padding: 2.5rem 0 2rem 0;
}

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu .rocky {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

.view {
  z-index: 999999999999999;
}
